@font-face {
    font-family: "Market Sans"; 
    src: url("fonts/MarketSans-Regular-WebS.woff2") format("opentype"); 
    font-weight: 400;
}

@font-face {
    font-family: "Market Sans Bold"; 
    src: url("fonts/MarketSans-Bold-WebS.woff2") format("opentype"); 
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica Neue"; 
    src: url("fonts/HelveticaNeueLight.otf") format("opentype"); 
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Market Sans", Arial, Helvetica, sans-serif;
}

.meu-cabecalho {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cabecalho-topo {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 180px;
    font-size: .75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #191919;
}

.ola-entrar {
    margin-left: 25px;
}

.ofertas {
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.ajuda-contato {
    margin-left: 25px;
    text-decoration: none;
    color: black;
}

.btn-bandeira {
    background-color: transparent; 
    border: none; 
    padding-top: 1px; 
    font-family: inherit; 
    font-size: inherit; 
    color: inherit; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 430px;
}

.link-entrar {
    color: #0654ba;
}

.link-entrar:hover {
    text-decoration: underline;
}

.link-cadastrar {
    color: #0654ba;
}

.link-cadastrar:hover {
    text-decoration: underline;
}

.br-portugues {
    background-color: transparent; 
    border: none; 
    padding: 0; 
    font-family: inherit; 
    font-size: unset; 
    color: inherit; 
    cursor: pointer; 
    margin-left: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.vender {
    background-color: transparent; 
    border: none; 
    padding: 0; 
    font-family: inherit; 
    font-size: inherit; 
    color: inherit; 
    cursor: pointer; 
    margin-left: 32px;
}

.icone-bandeira {
    width: 25px;
    height: 25px;
    object-fit: cover; 
    border-radius: 2px;
}

.icone-globo {
    width: 15px;
    height: 15px;
    object-fit: cover; 
    border-radius: 2px;
}

.lista-itens {
    display: flex;
    align-items: center; 
    gap: 4px; 
    color: black;
    margin-left: 32px; 
    cursor: pointer;
}

.my-ebay {
    display: flex;
    align-items: center;
    gap: 4px;
    color: black;
    margin-left: 36px;
    cursor: pointer;
}

.btn-icones-sino, .btn-icones-carrinho {
    background-color: transparent; 
    border: none; 
    padding: 0; 
    margin-left: 30px;
    cursor: pointer;
    color: inherit;
}

.area-pesquisa {
    display: flex;
    padding: 13px 200px;
    gap: 15px;
    margin-top: 3px;
}

.compras-categoria {
    display: flex;
    align-items: center;
    color: #707070;
    display: flex;
    flex-shrink: 10;
    font-size: .75rem;
    height: auto;
    line-height: 1.1;
    width: 60px;
    text-align: left;
    margin-right: 15px;
    cursor: pointer;
}

.compras-categoria svg {
    flex-shrink: 0; 
    margin-left: 4px; /* Desgruda a setinha da palavra "categoria" */
}

.retangulo-base {
    display: flex;
    align-items: center;
    border: 2px solid #191919;
    border-radius: 50px;
    height: 45px;
    width: 1030px;
    padding: 0 10px;
    background-color: white;
}

.caixa-de-pesquisa {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-family: inherit;
    color: #191919;
    margin-right: 200px;
    flex: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.linha-divisoria {
    height: 45px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 15px;
}

.btn-categoria {
    display: flex;
    align-items: center;
    gap: 12px;
    background: transparent;
    font-family: inherit;
    font-size: 12px;
    color: #707070;
    cursor: pointer;
    padding-right: 5px;
    border: none;
}

.btn-pesquisar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #3665f3;
    color: white;
    border-radius: 2.75rem;
    margin-left: 0;
    font-family: "Market Sans Bold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 10.5rem;
    height: 2.75rem;
    cursor: pointer;
}

.btn-avancada {
    display: flex;
    justify-content: center;
    border: none;
    background: transparent;
    align-self: center;
    color: #707070;
    margin-bottom: 8px;
    margin-left: -10px;
    cursor: pointer;
    font-size: .6900rem;
    text-decoration: none;
}



